body {
  background-color: #c80036;
  margin: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
#main-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 40vh;
  justify-content: space-evenly;
  color: aliceblue;
}

#main-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 40vh;
  justify-content: space-evenly;
  color: aliceblue;
}

#main-four {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 16px;
  padding: 16px;
}

#main-four img {
  width: 30vw;
  height: fit-content;
}

.item-one {
  grid-column: 1/2;
  grid-row: 1;
}

.item-two {
  grid-column: 2/3;
  grid: 1;
}

.item-three {
  grid-column: 3/4;
  grid-row: 1;
}

#logo {
  height: 100px;
}

#main-image {
  width: 100vw;
}

h1 {
  color: aliceblue;
  text-align: center;
}
nav {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: aliceblue;
}

nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
nav a {
  color: #c80036;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
nav a:hover {
  background-color: #1b622e;
}
nav li {
  float: left;
}
